<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd"> 
  <servers> 
    <server> 
      <id>mvn-github</id>
      <username>yyucra</username> 
      <password>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</password> 
    </server> 
  </servers> 
</settings> 
